{% extends "layout/modal-layout.html" %}
<!-- Sets the ID of the containing block -->
{% set modal_id="cancel_migration" %}
<!--  -->
{% block modal_title %} Terminate Youtube Subscription Migration {% endblock %}
<!--  -->
{% set modal_title_id= modal_id + "_title" %}

<!-- Information about the modal content -->
{% block modal_body %}
<p class="small">Are you sure you want to cancel subscription migration? Click "Yes" to terminate and "No" to cancel
</p>
{% endblock %}

<!-- Actions cancel/ proceed   -->
{% block modal_footer %}
<div class="btn-group-small">

    <button type="button" class="btn btn-outline-primary"> Yes </button>
    <button type="button" class="btn btn-primary ms-3 "> No </button>
</div>
{% endblock %}