<footer class="position-fixed bottom-0 bg-primary container-fluid text-white fs-6">
    <div class="container-xxxl pt-2">


        <div class="d-flex justify-content-center">
            <div class="d-flex">
                <a class="btn btn-sm btn-primary bg-white rounded text-primary mx-1" role="button" target="_blank" href="https://www.github.com/Shugaba-Wuta/youtube-subscription-migration">
                    <i data-feather="github" class="bg-primary text-white p-1 pb-0 rounded-circle size-24 stroke-1"></i>
                    <span class="text-bold">Contribute</span>
                </a>

                <a class="mx-1 text-primary my-auto" href="https://www.linkedin.com/in/shugaba-wuta-0024b6154">
                    <i data-feather="linkedin" class="size-24 stroke-1"></i>
                </a>
            </div>


        </div>
        <hr class="my-0 mt-1">
        <div class="d-flex flex-direction-column justify-content-center ">
            <small>Shugaba Wuta &copy; 2022</small>
        </div>

</footer>