<footer class="position-fixed bottom-0 bg-primary container-fluid text-white fs-6">
    <div class="container-xxxl pt-2">
        <!-- <div class="row-sm d-flex flex-direction-column justify-content-center ">
            <div class="my-3">
                <div class="d-block text-primary">
                    <textarea name="writeToUs" id="writeToUs" cols="30" rows="2" placeholder="Something"></textarea>
                </div>

                <div class="btn btn-secondary bg-white text-primary py-0 px-1 float-end d-inline-block float-right" role="button">
                    Submit
                </div>
            </div>
        </div>

        <hr> -->

        <div class="d-flex justify-content-center">
            <div class="d-flex">
                <div class="btn btn-sm btn-primary bg-white rounded text-primary mx-1" role="button">
                    <i data-feather="github" class="bg-primary text-white p-1 pb-0 rounded-circle size-20 stroke-1"></i>
                    <span>Contribute</span>
                </div>

                <div class="mx-1 text-primary my-auto">
                    <i data-feather="share-2" class="size-16 stroke-1"></i>
                </div>

                <div class="mx-1 text-primary my-auto">
                    <i data-feather="linkedin" class="size-16 stroke-1"></i>
                </div>
            </div>


        </div>
        <hr class="my-0 mt-1">
        <div class="d-flex flex-direction-column justify-content-center ">
            <small>Shugaba Wuta &copy; 2022</small>
        </div>

</footer>