<nav class="navbar  bg-primary fixed-top navbar-text navbar-expand-lg text-white mb-5">
    <div class="container-xl">
        <a class="nav-brand" href="/">
            <img src="{{ url_for('static', path='/images/logo-big-migrate.png')}}" alt="logo" width="75" class="d-inline-block align-text-top">
        </a>

        <!-- Hidden on mobile -->
        <div class="nav-item mx-auto" id="currentPage">
            <span class="fs-5">Current Section of the web page</span>
        </div>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                data-feather="menu" class=""></i>
        </button>



        <ul class="navbar-collapse collapse list-unstyled my-auto justify-content-end align-items-end navbar-nav navbar-right" id="navbarSupportedContent">
            {%if email %}
            <li class="nav-item my-auto mx-2 " id="email-plate">
                <img src="{{profile_picture}}" alt="Profile photo for {{email}} obtained from google account" width="25" height="25" class="rounded-circle" referrerpolicy="no-referrer"> <span data-email="{{email}}">{{email}}</span>
            </li>
            {%endif%}
            <li class="nav-item my-auto d-flex align-items-center">
                {% if email %}
                <button onclick="logout()" class=" btn btn-primary btn-outline-danger align-items-center" role="button">
                    <i data-feather="log-out" class="size-16 stroke-1"></i> <span class="text-white">Logout</span>
                </button> {% else%}

                <button onclick="login('login')" class=" btn btn-primary btn-outline-danger align-items-center p-1" role="button">
                    <img src="{{url_for('static', path='images/btn_google_light_normal_ios.svg')}}" alt="" width="32px"
                        height="32px"> <span class="text-white font-roboto">Sign in with Google</span>
                </button> {%endif%}

            </li>
        </ul>

    </div>

</nav>