{% extends "layout/modal-layout.html" %}
<!-- Sets the ID of the containing block -->
{% set modal_id="review_modal" %}
<!--  -->
{% block modal_title %} Give us your feedback {% endblock %}
<!--  -->
{% set modal_title_id= modal_id + "_title" %}

<!-- Information about the modal content -->
{% block modal_body %} {% endblock %}

<!-- Actions cancel/ proceed   -->
{% block modal_footer %}
<form action="/review" method="POST" class="mt-3 mx-1">
    <div class="form-text mb-1">Rate this tool</div>
    <div class="d-flex-column" id="review-emoji">
        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="sad-emoji" name="review_radio" value="sad" />
            <i data-feather="frown" class="size-38  stroke-black stroke-1" data-checked-emoji="false"></i>
        </label>


        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="neutral-emoji" name="review_radio" value="neutral"
                checked autocomplete="false" />
            <i data-feather="meh" class="size-38 stroke-black  stroke-1" data-checked-emoji="true"></i>
        </label>

        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="smile-emoji" name="review_radio" value="happy" />
            <i data-feather="smile" class="size-38 stroke-black stroke-1" data-checked-emoji="false"></i>
        </label>

    </div>
    <label class="form-label" for="review_text"> </label>
    <textarea class="form-control" name="review_text" id="review_text" placeholder="In at least 5 words, say something..." rows="5"></textarea>
    <div class="btn-group-small mt-3">
        <button type="submit" class="btn btn-primary disabled" id="submit_review_button"> Submit </button>
    </div>



</form>
<script type="text/javascript">
    //Control the emoji fill colors. 
    let reviewEmoji = document.getElementsByName("review_radio");
    reviewEmoji.forEach((emoji) => {
        emoji.addEventListener("click", () => {
            let currentlyFilledEmoji = document.querySelector("[data-checked-emoji = true]")
            currentlyFilledEmoji.dataset.checkedEmoji = false
            emoji.nextElementSibling.dataset.checkedEmoji = true
        })
    })


    //Enable submit button after the user types certain character length in the textarea
    let textArea = document.getElementById("review_text");
    textArea.addEventListener("input", () => {
        let wordsTextArea = textArea.value.trim().split(" ").filter(String)
        if (wordsTextArea.length >= 5) {
            document.getElementById("submit_review_button").classList.remove("disabled")
        } else {
            document.getElementById("submit_review_button").classList.add("disabled")
        }
    })
</script>

{% endblock %}