{% extends "layout/modal-layout.html" %}
<!-- Sets the ID of the containing block -->
{% set modal_id="review_modal" %}
<!--  -->
{% block modal_title %} Give us your feedback {% endblock %}
<!--  -->
{% set modal_title_id= modal_id + "_title" %}

<!-- Information about the modal content -->
{% block modal_body %} {% endblock %}

<!-- Actions cancel/ proceed   -->
{% block modal_footer %}
<form action="/review" method="POST" class="mt-3">
    <div class="form-text mb-1">Rate this tool</div>
    <div class="d-flex-column" id="review-emoji">
        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="sad-emoji" name="review_radio" value=-1 />
            <i data-feather="frown" class="size-38  stroke-black stroke-1"></i>
        </label>


        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="meh-emoji" name="review_radio" value=0 />
            <i data-feather="meh" class="size-38 stroke-black  stroke-1"></i>
        </label>

        <label class="form-radio-label">
            <input type="radio" class="form-radio opacity-0" id="smile-emoji" name="review_radio" value=1 />
            <i data-feather="smile" class="size-38 stroke-black stroke-1"></i>
        </label>
        <!-- <p>I will display &#x1f44b&#x1F3FF;</p> -->

    </div>
    <label class="form-label" for="review_text"> </label>
    <textarea class="form-control" name="review_text" id="review_text" placeholder="We are all ears " rows="3"></textarea>
    <div class="btn-group-small mt-3">
        <button type="submit" class="btn btn-primary disabled" id="submit_review_button"> Submit </button>
    </div>



</form>

<script>
    var review_radio = document.getElementsByName("review_radio");
    var arr_review_radio = Array.from(review_radio)
    review_radio.forEach((radio) => {
        radio.addEventListener("change", () => {
            var filled_emoji = document.getElementsByClassName("emoji-color");
            var array_filled_emoji = Array.from(filled_emoji)
            if (array_filled_emoji.length > 0) {
                array_filled_emoji.forEach((occurence) => {
                    occurence.classList.remove("emoji-color");
                })

            }
            //Applies style to selected radio button
            var sibling_element = radio.nextElementSibling;
            sibling_element.classList.add("emoji-color")

            //Removes class disabled until radio buttons are checked
            var any_radio_checked = arr_review_radio.filter((element) => {
                return element.checked
            })
            if (any_radio_checked.length > 0) {

                var review_button = document.getElementById("submit_review_button")
                if (review_button) {
                    review_button.classList.remove("disabled");
                }
            }
        })


    })
</script>
{% endblock %}