<div class="modal fade text-center" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">


    <div class="modal-dialog modal-dialog-centered ">

        <div class="modal-content pt-4 pb-3">
            <!-- <div class="modal-header">
                <button type="button" class="btn-close btn-sm " data-bs-dismiss="modal" aria-label="Close"></button>

            </div> -->
            <div class="modal-body">
                <button type="button" class="position-absolute btn-close " style="width: 20px; height: 20px; top:-1.5rem; right:0" data-bs-toggle="modal" data-bs-target="#{{modal_id}}">
                </button>


                <p class="modal-title fw-bolder" id="{{modal_title_id}}"> {% block modal_title %} {% endblock %}
                </p>
                {% block modal_body %} {% endblock %}
                <!--  -->
                {% block modal_footer %} {% endblock %}
            </div>
        </div>


    </div>

</div>