{% extends "layout/base.html" %}
<!--  -->
{% block page_title %}YouTube Subscriptions{% endblock %}
<!-- content -->
{%block content%}

<main class="position-relative container-xl text-primary my-5">
    <h1 class="text-center mt-5" style="margin-top: 5%;" data-operation="{{operation}}"><strong>{{operation|title}}
            YouTube
            Subscriptions</strong></h1>
    <div class="form  d-flex flex-column table-responsive-sm">
        <table class="table table-hover table-sm">
            <caption>all subscribed channels for {{email}}</caption>
            <thead>
                <tr class="">
                    <th scope="col" class="">
                        <label class="form-check-label d-flex ">
                            <input type="checkbox" name="selectAll" id="selectAll" class="form-check-input me-2"
                                autocomplete="off" checked>
                            <span>#</span>
                        </label>
                    </th>

                    <th scope="col" class="">Channel</th>
                    <th scope="col" class="description">Description</th>

                </tr>

            </thead>
            <tbody>
                {% for i in range(1,subscriptions["items"]|count+1)%}
                <tr>
                    <th scope="row" class="">
                        <label class="form-check-label  d-flex">
                            <input type="checkbox" name="check-{{i}}" id="check-{{i}}" checked autocomplete="off"
                                class="form-check-input me-2" data-checked="true"
                                data-youtube-channel-id='{{subscriptions["items"][i-1]["snippet"]["resourceId"]["channelId"]}}'
                                data-youtube-subscription-id='{{subscriptions["items"][i-1]["id"]}}'>
                            <span> {{i}} </span>
                        </label>
                    </th>

                    <td class="single-line" data-bs-trim>
                        <a href='https://www.youtube.com/channel/{{subscriptions["items"][i-1]["snippet"]["resourceId"]["channelId"]}}' target="_top" class="d-inline-block">{{subscriptions["items"][i-1]["snippet"]["title"]}}

                        </a>
                    </td>
                    <td class="trim-text description" data-bs-trim>
                        {{subscriptions["items"][i-1]["snippet"]["description"]}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Setting up my modal for confirming subscription operation -->
        {% block modal %}{% include "partials/confirm-operation-modal.html" %} {% include "partials/cancel-operation-modal.html" %} {% endblock %}
        <!--  ID's to 2 different Modals Confirm/ Terminate-->
        {% set confirm_modal_id="confirm_operation" %}
        <!--  -->
        {% set cancel_modal_id="cancel_operation" %}

        <div class=" btn-group ms-auto d-flex ">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#{{cancel_modal_id}}">Cancel</button>
            <button type="button" class="btn btn-primary border-primary ms-3" id="proceedBtn" name="proceedBtn" data-bs-toggle="modal" data-bs-target="#{{confirm_modal_id}}">Proceed</button>

        </div>
    </div>
    <form id="postData" method="POST" action="/{{module}}/{{operation}}" class="form position-relative d-inline end-100 " aria-hidden="true" hidden>
        <input type="text" id="subscriptions-field" name="subscriptions">
    </form>


</main>
<script>
    // Clicking the checkbox in thead should toggle other checkboxes. 
    let selectAllCheckbox = document.getElementById("selectAll");
    let allCheckboxes = document.querySelectorAll("[data-checked]")

    selectAllCheckbox.addEventListener("click", () => {
        let activatedCheckboxes = document.querySelectorAll("[data-checked=true]")
        if (selectAllCheckbox.checked) {
            allCheckboxes.forEach((item) => {
                item.checked = true;
                item.dataset.checked = true;
            })
        } else {
            allCheckboxes.forEach((item) => {
                item.checked = false;
                item.dataset.checked = false;

            })
        }
    })

    allCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
            if (checkbox.checked) {
                checkbox.dataset.checked = true
            } else {
                checkbox.dataset.checked = false
            }

            let currentlySelectedSubscription = document.querySelectorAll('[data-checked = true]')
            if (allCheckboxes.length === currentlySelectedSubscription.length) {
                selectAllCheckbox.checked = true;
            } else {
                selectAllCheckbox.checked = false;
            }


        })
    })


    const proceedBtn = document.getElementById("proceedBtn")
    proceedBtn.addEventListener("click", prepareSelectedChannels)

    function prepareSelectedChannels() {
        let idList = Array()
        const currentlySelectedSubscription = document.querySelectorAll("[data-checked = true]")
        currentlySelectedSubscription.forEach((item) => {
            const operation = document.querySelector("[data-operation]").dataset.operation
            if (operation == "migrate") {
                if (item.checked) {
                    idList.push(item.dataset.youtubeChannelId)
                }
            } else if (operation == "unsubscribe") {
                {
                    if (item.checked) idList.push(JSON.stringify(
                        [item.dataset.youtubeSubscriptionId,
                            item.dataset.youtubeChannelId
                        ]
                    ))
                }
            }

        })
        const requestDetailsContainer = document.getElementById("confirmActionModalText")
        requestDetailsContainer.innerHTML = "<b>" +
            currentlySelectedSubscription.length.toString() + "</b> YouTube channel(s) have been selected from " +
            document.querySelector('[data-email]').dataset.email.toString()
        window.sessionStorage.setItem("IdList", idList)

    }

    let postSub = document.getElementById("postData");
    postSub.addEventListener("submit", (event) => {
        event.preventDefault()
        const idList = window.sessionStorage.getItem("IdList");
        document.getElementById("subscriptions-field").value = idList
        postSub.submit()

    })
</script>
{%endblock%}