{%extends "layout/base.html" %}
<!--  -->
{% block page_title %}Error{% endblock %}
<!--  -->
{%block content%}

<main class="position-relative container-sm text-primary text-center my-5">
    <style>
        .card {
            align-items: center;
            justify-content: center;
            height: 50vh;
            display: grid;
            place-content: center;
        }
    </style>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1 class="fw-bold fs-1">Encountered {{status_code}} Error </h1>
                <p class="card-text fs-4">
                    {{msg}}
                </p>
                <a href="/">Go back to Home Page</a>

            </div>
        </div>
    </div>
</main>
{%endblock%}