{% extends "layout/base.html" %}
<!--  -->
{% block page_title %}Migration Unsuccessful {% endblock %}
<!--  -->
{% block content %}

<main class="container-xxl justify-content-center my-auto align-content-center">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="text-center mt-5" style="margin-top: 5%;"><strong> &#x274C;Migration was Unsuccessful </strong>
            </h1>


            <p>Your migration was unsuccessful because of ------ reasons. Do you want to take a look at the instructions? Click Here to
                <a class="btn btn-outline-primary btn-sm" href="/" rel="noopener noreferrer" role="button" type="button"> <b>View Instruction</b></a>
            </p>
        </div>

    </div>

</main>
{% endblock %}