{% extends "layout/base.html" %}
<!--  -->
{% block page_title %}All Subscription {% endblock %}
<!-- content -->
{%block content%}

<main class="position-relative container-xl text-primary my-5">
    <h1 class="text-center mt-5" style="margin-top: 5%;"><strong>Migrate YouTube </strong></h1>
    <form method="POST" action="" class="form  d-flex flex-column table-responsive-sm">
        <table class="table table-hover table-sm">
            <caption>All subscribed channels on gmail account</caption>
            <thead>
                <tr class="">
                    <th scope="col" class="">
                        <label class="form-check-label d-flex ">
                            <input type="checkbox" name="selectAll" id="selectAll" class="form-check-input me-2"
                                checked>
                            <span>#</span>
                        </label>
                    </th>

                    <th scope="col" class="">Channel</th>
                    <th scope="col" class="description">Description</th>

                </tr>

            </thead>
            <tbody>
                {% for i in range(1,subscriptions["items"]|count)%}
                <tr class="">
                    <th scope="row" class="">
                        <label class="form-check-label  d-flex">
                            <input type="checkbox" name="check-{{i}}" id="check-{{i}}" checked
                                class="form-check-input me-2" data-checked="true">
                            <span> {{i}} </span>
                        </label>
                    </th>

                    <td class="single-line" data-bs-trim>
                        <a href='https://www.youtube.com/channel/{{subscriptions["items"][i-1]["snippet"]["resourceId"]["channelId"]}}' target="_top" class="d-inline-block">{{subscriptions["items"][i-1]["snippet"]["title"]}}</a>
                    </td>
                    <td class="trim-text description" data-bs-trim>
                        {{subscriptions["items"][i-1]["snippet"]["description"]}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class=" btn-group ms-auto d-flex jdustify-content-lg-between ">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#{{cancel_modal_id}}">Cancel</button>
            <button type="button" class="btn btn-primary border-primary ms-3" id="proceedBtn" name="proceedBtn" data-bs-toggle="modal" data-bs-target="#{{confirm_modal_id}}">Proceed</button>

        </div>



    </form>
    <!-- Setting up my modal for confirming subscription migration -->
    {% block modal %}{% include "partials/confirm-migration-modal.html" %} {% include "partials/cancel-migration-modal.html" %} {% endblock %}
    <!--  ID's to 2 different Modals Confirm/ Terminate-->
    {% set confirm_modal_id="confirm_migration" %}
    <!--  -->
    {% set cancel_modal_id="cancel_migration" %}

</main>
<script>
    // on click any checkbox toggle selectAll 
    var selectAllCheckbox = document.getElementById("selectAll");
    selectAllCheckbox.addEventListener("change", () => {
        var allCheckboxes = document.querySelectorAll("[data-checked]")
        var activatedCheckboxes = document.querySelectorAll("[data-checked='true']")
        if (allCheckboxes.length === activatedCheckboxes.length) {
            allCheckboxes.forEach((item) => {
                item.checked = false
                item.dataset.checked = "false"

            })
        } else {
            allCheckboxes.forEach((item) => {
                item.checked = true
                item.dataset.checked = "true"

            })
        }


    })
</script>
{%endblock%}