{% extends "layout/base.html" %}
<!--  -->
{% block page_title %}&#x2705;Migration Successful {% endblock %}
<!--  -->
{% block content %}

<!--  ID's to 2 different Modals Confirm/ Terminate-->
{% set modal_id = "review_modal" %}
<main class="container-xxl justify-content-center my-auto align-content-center">
    <div class="card">
        <div class="card-body text-center">
            <h1 class=" fs-3 mt-5" style="margin-top: 5%;"><strong>Migration was Successful </strong> &#x1F389; &#x1F4AF;

            </h1>


            <p> <b>{{total_subscriptions - number_of_failed_subscriptions}} Subscriptions successfully added to
                    {{email}}</b> </p>

            {% if number_of_failed_subscriptions> 0 %}
            <ul>
                {{number_of_failed_subscriptions}} subscriptions could not be added to {{email}}
            </ul>

            {%endif%}
            <p> <em> Want to leave a review? Click <a class="btn btn-outline-primary btn-sm" rel="noopener noreferrer"
                        role="button" type="button" data-bs-toggle="modal" data-bs-target="#{{modal_id}}">
                        <b>Here</b></a>
                </em>
            </p>
        </div>

    </div>
    <!-- Setting up my modal for review after migration -->
    {% block modal %}{% include "partials/review-modal.html" %} {% endblock %}

</main>
{% endblock %}