<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap&" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="title" content="Automatic Youtube Subscription Migration | Migrate Your Youtube Subscriptions for Free">
    <meta name="description" content="Hassle free  open source tool to help you move Youtube subscriptions from your old YouTube account in no time. Easily migrate all your YouTube subscriptions. The only tool that can migrate bulk subscriptions. Click to start.">
    <meta name="keywords" content="Evan Reilly YouTube Subscriptions Importer tool,Evan Reilly, Evan Reilly tool, YouTube.com, YouTube, YouTube subscriptions, bulk Youtube migration, subcription migrate, subscription, open soure tool, Github, Free migration, switch channels, open soure tools, tool, trusted, free, Free, easy, active migration tool, cool tips, PC, quick, migrate, migration, works, safe, Safe, How to, guide available">
    <meta name="robots" content="index, follow" />
    <meta property="og:description" content="Quickly migrate multiple YouTube subscriptions with this tool. No stress no hassle, just clicks" xmlns:og="http://opengraphprotocol.org/schema/">

    <link rel="shortcut icon" href=" {{ url_for('static', path='/images/favicon.ico') }}" type="image/x-icon">
    <title>{% block page_title %}{% endblock %}</title>
    <link href="{{ url_for('static', path='/css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/modification.scss.css') }}" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>








</head>

<body class="shadow-none container-fluid p-0">
    {%block navbar%} {%include "partials/navbar.html"%} {%endblock%}
    <!--  -->
    {%block content%} {%endblock%}
    <!--  -->
    {%block footer%} {%include "partials/footer.html"%} {%endblock%}
    <!--  -->


</body>
<!-- <script src="static/js/feather.js"></script> -->
<script src="{{ url_for('static', path='/js/custom.js') }}"></script>

<!--  -->
<script>
    feather.replace()
    const headerContent = document.getElementsByTagName("title")[0].innerHTML
    document.getElementById("currentPage").firstElementChild.innerHTML = headerContent;
</script>

</html>